@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --page-padding: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: OpenSans, Areal, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    position: relative;
    align-self: stretch;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.title {
    display: block;
    align-self: center;
}

.logo-image {
    display: block;
}

.menu {
    width: 100%;
    padding: 0 calc(var(--page-padding));
    display: flex;
}

.menu_list {
    display: flex;
    align-items: center;
}

.menu_item {
    list-style-type: none;
}

.menu_item:nth-child(n + 2) {
    margin-left: 15px;
}

.menu_link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.menu_link:hover {
    text-decoration: underline;
}

.burger {
    align-self: center;
}

.burger-line {
    width: 23px;
    height: 2px;
    background-color: white;
}

.burger-line:nth-child(n+2) {
    margin-top: 3px;
}

.burger-line:nth-child(-n+2) {
    margin-bottom: 3px;
}

.title {
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.title-span {
    display: block;
}

.trends {
    width: 100%;
}

.trends-title {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
}

.trends-title:after {
    content: "";
    margin-top: 14px;
    height: 3px;
    width: 66px;
    background-color: #e1d9bd;
}

.trend-image {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
}

.trend-picture {
    position: relative;
}

.trend-picture:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    opacity: 0.7;
}

.trend {
    position: relative;
    height: 232px;
}

.trend:nth-child(n+1) {
    margin-top: 3px;
}

.trend-info-container {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: start;
    align-items: end;
}

.trend-info {
    display: flex;
    flex-direction: column-reverse;
    border: rgba(181,159,91,0.6) solid 3px;
    flex-grow: 1;
    margin-bottom: 14px;
    padding: 0 32px;
}

.trend-tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 15px;
    margin-top: 34px;
}

.trend-tag:nth-child(n+2) {
    margin-left: 18px;
}

.trend-tag-link {
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
    text-transform: uppercase;
    text-decoration: none;
}

.trend-tag-link:hover {
    text-decoration: underline;
}

.trend-title {
    margin-bottom: 32px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: white;
}

.trend-title-link {
    text-decoration: none;
    color: inherit;
}

.trend-title-link:hover {
    text-decoration: underline;
}

.trend-title-span {
    display: block;
}

/*posts start*/

.posts {
    margin-top: 44px;
    width: 100%;
}

.post {
    display: block;
    padding: 0 15px 0 15px;
}

.post-image-container {
    position: relative;
    z-index: 1;
    display: block;
}

.post:nth-child(n+2) {
    margin-top: 58px;
}

.post-image {
    width: 100%;
}

.post-image-link {
    display: block;
    width: 100%;
}

.post-picture {
    display: block;
    width: 100%;
}

.post-text {
    padding: 2px 0;
    width: 100%;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.post-tag:nth-child(n+2) {
    margin-left: 18px;
}

.tag-link {
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
    text-transform: uppercase;
    text-decoration: none;
}

.tag-link:hover {
    text-decoration: underline;
}

.post-title {
    margin-top: 14px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #0f0d0e;
}

.post-title-link {
    text-decoration: none;
    color: inherit;
}

.post-title-link:hover {
    text-decoration: underline;
}

.post-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.post-date {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #888888;
}

.post-author {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    color: black;
}

.post-summary {
    margin-top: 20px;
    font-size: 15px;
    color: black;
}

/*posts end*/

.sidebar {
    margin-top: 44px;
}

.sidebar > section:nth-of-type(n+2) {
    margin-top: 62px;
}

/*news start*/

.news {
    padding: 0 calc(var(--page-padding));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.news-title:after {
    content: "";
    margin-top: 14px;
    height: 3px;
    width: 66px;
    background-color: #e1d9bd;
}

.news-items {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.news-item {
    display: flex;
}

.news-item:nth-child(n+2) {
    margin-top: 22px;
}

.news-item-image {
    min-width: 70px;
    max-width: 70px;
    background-color: #f4f7f6;
}

.news-item-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.news-item-date {
    font-size: 12px;
    font-weight: 400;
    color: #888888;
}

.news-item-header {
    margin-top: 8px;
}

.news-item-title {
    font-size: 14px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.news-item-link {
    text-decoration: none;
    color: inherit;
}

.news-item-link:hover {
    color: #b59f5b;
}

.search-form {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.search-input-wrapper {
    width: 100%;
}

.search-input {
    padding: 18px 18px;
    height: 48px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    border: none;
    background-color: #f4f7f6;
    box-sizing: border-box;
}

.search-input:focus {
    outline-color: #b59f5b;
    outline-offset: -1px;
    outline-style: solid;
}

.search-submit {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    cursor: pointer;
}

.search-submit:hover {
    background-color: #323232;
}

.search-submit:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

/*news end*/

/*subscription start*/

.subscription {
    padding: 0 calc(var(--page-padding));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscription-title:after {
    content: "";
    margin-top: 15px;
    height: 3px;
    width: 66px;
    background-color: #e1d9bd;
}

.subscription-form {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
}

.subscription-form-row:nth-child(n+2) {
    margin-top: 18px;
}

.subscription-email {
    padding: 18px 18px;
    height: 48px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: none;
    font-size: 13px;
    font-weight: 400;
    background-color: #f4f7f6;
}

.subscription-email:focus {
    outline-color: #b59f5b;
}

.subscription-submit {
    display: block;
    height: 48px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    background-color: #b59f5b;
    cursor: pointer;
}

.subscription-submit:hover {
    background-color: #323232;
}

/*subscription end*/

/*tags start*/

.tags {
    max-width: 100%;
    padding: 0 calc(var(--page-padding));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tags-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.tags-title:after {
    content: "";
    margin-top: 15px;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
}

.tags-container {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
}

.tag {
    padding: 0 12px;
    margin-left: 4px;
    height: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid #eeeeee;
    text-transform: uppercase;
}

.tag:nth-of-type(4n+1) {
    margin-left: 0;
}

.tag:nth-of-type(n+5) {
    margin-top: 6px;
}

.tag:hover {
    border-color: #b59f5b;
    cursor: pointer;
}

.tag-text {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #0f0d0e;
}

/*tags end*/

/*themes start*/

.themes {
    padding: 0 calc(var(--page-padding));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.themes-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.themes-title:after {
    content: "";
    margin-top: 15px;
    height: 3px;
    width: 66px;
    background-color: #e1d9bd;
}

.themes-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: stretch;
}

.theme {
    padding: 0 2px;
    height: 48px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #eeeeee;
}

.theme-link {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.theme-link:hover {
    color: #b59f5b;
}

.theme-count-posts {
    margin: -4px 0 0 4px;
    font-size: 12px;
    font-weight: 700;
    color: #b59f5b;
}

/*themes end*/

/*shop-items start*/

.shop-items {
    width: 100%;
}

.shop-items-title {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.shop-items-title:after {
    content: "";
    margin-top: 14px;
    height: 3px;
    width: 66px;
    background-color: #e1d9bd;
}

.shop-item {
    display: flex;
    flex-direction: column;
    padding: 0 calc(var(--page-padding)) 0 calc(var(--page-padding));
    position: relative;
}

.shop-item-image-container {
    position: relative;
    z-index: 1;
    display: block;
    padding: 0 20px;
}

.shop-item-image-link {
    display: block;
    width: 100%;
}

.shop-item-picture {
    display: block;
    width: 100%;
}

.shop-item-image {
    width: 100%;
}

.shop-item-text {
    position: relative;
    z-index: 2;
    margin-top: -28px;
    padding: 0 20px;
    border: rgba(181,159,91,0.6) solid 3px;
    flex-grow: 1;
}

.shop-item-title {
    padding-top: calc(28px + 24px);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #0f0d0e;
}

.shop-item-title-link {
    text-decoration: none;
    color: inherit;
}

.shop-item-title-link:hover {
    text-decoration: underline;
}

.shop-item-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.shop-item-summary {
    margin-top: 20px;
    font-size: 15px;
    color: black;
}

.shop-item-summary-link {
    color: #b59f5b;
    text-decoration: none;
}

.shop-link-container {
    display: flex;
    justify-content: start;
    padding: 26px 0;
}

.shop-price-container {
    width: 50%;
}

.old-price {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration-line: line-through;
}

.new-price {
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.shop-button-container {
    width: 50%;
}

.shop-button {
    display: block;
    width: 134px;
    height: 48px;
    background-color: #b59f5b;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.shop-button:hover {
    background-color: #323232;
}

/*shop-items end*/

/*footer start*/

.footer {
    width: 100%;
    align-self: center;
}

.social-items {
    padding: 30px calc(var(--page-padding));
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #f4f7f6;
}

.social-item:nth-of-type(n+2) {
    margin-left: 30px;
}

.social-link {
    display: block;
    width: 22px;
    height: 22px;
}

.social-link-dribble {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
}

.social-link-pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
}

.social-link-tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.copyright {
    margin: 40px 0 20px 0;
    text-align: center;
}

.copyright-link {
    padding: 0 calc(var(--page-padding)) 0 calc(var(--page-padding));
    color: #999999;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

/* footer end */

body {
    position: relative;
}

/* popup start */

.popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}

.popup-container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    opacity: 0.7;
}

.popup {
    margin: 0 var(--page-padding);
    background-color: white;
    padding: 30px 24px;
}

.popup-title {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
}

.popup-title:after {
    content: "";
    margin-top: 14px;
    height: 3px;
    width: 66px;
    background-color: #e1d9bd;
}

.popup-close {
    -webkit-appearance: none;
    -moz-appearance:none;
    width: 28px;
    height: 28px;
    background-color: transparent;
    background-image: url("../svg/form-x.svg");
    background-size: contain;
    border: none;
    align-self: end;
    margin-left: var(--page-padding);
    margin-right: var(--page-padding);
}

.feedback-input-row {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.feedback-input-row:nth-child(n + 2) {
    margin-top: 34px;
}

.feedback-input-title {
    font-size: 13px;
    font-weight: 400;
}

.frequency-select {
    -webkit-appearance: none;
    -moz-appearance:none;
    width: 100%;
    background-color: #f4f7f6;
    height: 48px;
    padding: 0 18px;
    opacity: 0.54;
    margin-top: 10px;
    background-image: url("../svg/form-arrows.svg");
    background-size: 10px 18px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.frequency-select:focus {
    border-color: #b59f5b;
}

.subscription-input-radio {
    margin-top: 10px;
}

.subscription-input-radio:nth-child(n + 2) {
    margin-left: 30px;
}

.subscription-input-container {
    display: flex;
    margin-top: 10px;
}

.subscription-input:nth-child(n + 2) {
    margin-left: 30px;
}

.subscription-input:nth-child(1) {
    margin-left: 13px;
}

.subscription-radio + label {
    position: relative;
}

.subscription-radio ~ label:before {
    content: "";
    width: 26px;
    height: 26px;
    background-image: url(../svg/form-empty-circle.svg);
    position: absolute;
    left: -30px;
    top: 0;
    background-position: center center;
    background-size: contain;
}

.subscription-radio:checked ~ label:before {
    background-image: url(../svg/form-circle.svg);
}

.subscription-input input {
    visibility: hidden;
}

.wishes-textarea {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 28px;
    font-size: 13px;
    font-weight: 400;
    padding: 20px 20px;
    background-color: #f4f7f6;
    border: 0;
    opacity: 0.54;
    min-height: 130px;
}

.wishes-textarea:focus {
    border: 1px solid #b59f5b;
}

.feedback-submit {
    align-self: center;
    height: 45px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #b59f5b;
    border: none;
    text-transform: uppercase;
    margin-top: 26px;
}

/* popup end */

/* mobile first */
@media (max-width: 640px) {
    .tablet, .desktop {
        display: none;
    }

    :root {
        --page-padding: 15px;
    }

    .popup-close {
        margin-top: 24px;
        margin-bottom: 5px;
    }

    .popup-title {
        font-size: 16px;
    }

    .menu {
        margin-top: 32px;
        justify-content: space-between;
    }

    .header {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 638px;
    }

    .header:before {
        background-image: url("../images/banner-mobile.jpg");
    }

    .logo-image-link {
        margin: 224px auto 0 auto;
    }

    .logo-image {
        margin-top: 170px;
        display: block;
        width: 163px;
    }

    .title {
        margin-top: 40px;
        font-size: 26px;
    }

    .trends-container {
        display: block;
    }

    .trends-title {
        font-size: 16px;
    }

    .trend-info {
        margin-bottom:18px;
        padding: 0 calc(var(--page-padding));
    }

    .trend-title {
        font-size: 20px;
    }

    .shop-items {
        margin-top: 44px;
    }

    .shop-item:nth-child(n+2) {
        margin-top: 58px;
    }

    .footer {
        margin-top: 42px;
    }
}

/* tablet */
@media (min-width: 641px) and (max-width: 1199px) {
    .mobile, .desktop {
        display: none;
    }

    :root {
        --page-padding: 34px;
    }

    .popup-close {
        margin-top: 200px;
        margin-bottom: 7px;
    }

    .popup-title {
        font-size: 18px;
    }

    .header {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        min-height: 392px;
    }

    .header:before {
        background-image: url("../images/banner-bg-tablet.jpg");
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-image {
        width: 158px;
    }

    .logo-image-link {
    }

    .menu {
        margin-top: 46px;
    }

    .title {
        margin-top: 80px;
        font-size: 40px;
    }

    .trends-container {
        display: flex;
        flex-wrap: wrap;
    }

    .trends-title {
        font-size: 18px;
    }

    .trend {
        width: calc(50% - 2px);
    }

    .trend:nth-child(2n + 1) {
        padding-right: 2px;
    }

    .trend:nth-child(2n) {
        padding-left: 2px;
    }

    .trend-info {
        margin-left: 20px;
        margin-right: 20px;
    }

    .trend-title {
        font-size: 17px;
    }

    .posts-sidebar {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .shop-items {
        margin-top: 50px;
    }

    .shop-items-container {
        display: flex;
        flex-wrap: wrap;
    }

    .shop-item {
        width: 50%;
    }

    .shop-item:nth-child(n+3) {
        margin-top: 58px;
    }

    .footer {
        margin-top: 50px;
    }
}

/* desktop */
@media (min-width: 1200px) {
    .mobile, .tablet {
        display: none;
    }

    :root {
        --page-padding: 15px;
    }

    .popup-close {
        margin-top: 210px;
        margin-bottom: 7px;
    }

    .popup-title {
        font-size: 20px;
    }

    .header {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        min-height: 440px;
    }

    .header:before {
        background-image: url("../images/banner-bg.jpg");
    }

    .menu {
        padding: 0 calc(var(--page-padding));
        margin-top: 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-image {
        width: 182px;
    }

    .logo-image-link {

    }

    .title {
        margin-top: 124px;
        font-size: 45px;
        align-self: center;
    }

    .trends-container {
        display: flex;
        flex-wrap: wrap;
    }

    .trends-title {
        font-size: 20px;
    }

    .trend {
        width: calc(25% - 3px);
    }

    .trend:nth-child(-n + 3) {
        padding-right: 2px;
    }

    .trend:nth-child(n + 2) {
        padding-left: 2px;
    }

    .trend-info {
        margin-left: 20px;
        margin-right: 20px;
    }

    .trend-title {
        font-size: 17px;
    }

    .posts-sidebar {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .post {
        display: flex;
    }

    .post-image {
        width: 31.7vw; /*380px при vw 1200px*/
    }

    .post-text {
        margin-left: 2.5vw; /*30px при vw 1200px*/
    }

    .shop-items {
        margin-top: 50px;
    }

    .shop-items-container {
        display: flex;
        flex-wrap: wrap;
    }

    .shop-item {
        width: 33%;
    }

    .shop-item:nth-child(n + 2) {
        padding-left: 32px;
    }

    .shop-item:nth-child(-n + 2) {
        padding-right: 32px;
    }

    .shop-item-image {
        width: 298px;
        height: 204px;
        object-fit: cover;
    }

    .footer {
        margin-top: 50px;
    }
}